<div class="container">
  <NavBar />
  <div class="body">
    {{outlet}}
  </div>
  <footer class="-onex cs-footer-box -oneX-footer" id="cs-footer">
    <div class="-oneX-container">
      <p class="cs-footnotes-uppercase-internal">-For Learning Purpose -</p>
      <p class="cs-footnotes-internal">This is a test application</p>
    </div>
  </footer>
</div>