.letters-control {
    width: 42px;
    line-height: 27px;
    text-align: center;
    font-size: 20px;
}

.button-check-letter {
    background-color: floralwhite;
    pointer-events: all;
    font-family: sans-serif;
    font-size: 14px;
    width: 51px;
}

.reset-control {
    background-color: floralwhite;
    pointer-events: all;
    font-family: sans-serif;
    font-size: 14px;
    width: 51px;
}

.button-alphabets-enter {
    pointer-events: none;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    text-align: center;
}

.disable-check {
    pointer-events: none;
}

.alphabet-margin {
    margin-top: 5px;
}

.cs-search-summary-results-col1 {
    padding-right: 15px;
}

.cs-search-summary-results-col2 {
    padding-right: 15px;
}

.cs-search-summary-results-col3 {
    padding-right: 15px;
}

.cs-search-summary-results-col4 {
    padding-right: 15px;
}